<!-- This is a static file -->
<!-- served from your routes in server.js -->

<!DOCTYPE html>
<html>
  <head>
    <title>Passport Prototypes</title>
    <meta name="description" content="sample app using passport and oauth">
    <link id="favicon" rel="icon" href="https://glitch.com/favicon-app.ico" type="image/x-icon">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="https://button.glitch.me/css/glitch.css">
    <link rel="stylesheet" type="text/css" href="https://button.glitch.me/css/button.css">

  </head>
  <body>
    <header>
      <h1>Passport Prototypes</h1>
    </header>

    <main>
      <h2>Try login with these oauth providers, using <a href="https://github.com/jaredhanson/passport">Passport</a> on <a href="http://expressjs.com/">Express</a></h2>
      <p>
        <ol>
          <li><a class="container" href="/auth/google">Google</a></li>
          <li><a class="container" href="/auth/amazon" target="_blank">Amazon</a></li>
          <li>Cognio user pool <a href="https://innate-wren.auth.us-east-1.amazoncognito.com/login?redirect_uri=https://innate-wren.glitch.me/login/cognitowren001/return&response_type=code&client_id=222n256laqlgpttn95cg6bcavi&state=STATE&scope=openid+profile+aws.cognito.signin.user.admin">cognito-idp:us-east-1:645086751203:userpool/us-east-1_exRT8uV5e</a></li>
          <!--
          <li><a class="container" href="https://ec2-34-213-187-190.us-west-2.compute.amazonaws.com/adfs/ls/IdpInitiatedSignOn.aspx">Log In with Runaway Bamboo AD</a></li>
          <li><a class="container" href="/auth/cognitopool001">Log In with Cognito Pool 001</a></li>
          <li><a class="container" href="/auth/cognitopoolrunbam003">Log In with Cognito Pool Runbam003</a></li>
          <li><a class="container" href="/auth/cognitowren001">Log In with Cognito Pool wren001</a></li>
          -->

      </ol>
      </p>
      <!--
      <h2>Direct Cognito pool login</h2>
      <a href="https://innate-wren.auth.us-east-1.amazoncognito.com/login?redirect_uri=https://innate-wren.glitch.me/login/cognitowren001/return&response_type=code&client_id=222n256laqlgpttn95cg6bcavi&state=STATE&scope=openid+profile+aws.cognito.signin.user.admin">on cognito</a>
      <p>
        <form action="/auth/cognitowren001" method="POST">
          username: <input name="username"/>
          password: <input name="password"/>
          <input type="submit" value="login"/>
        </form>       
      </p>
      -->

    <h2>
      Some pages
    </h2>
    <p>
      <ol>
        
      <li><a href="/success">secure page</a></li>
      <li><a href="/awssdk">sdk tester</a></li>
    </ol>
    </p>
    </main>

    <script src="https://button.glitch.me/button.js" data-style="glitch"></script>
    <div class="glitchButton" style="position:fixed;top:20px;right:20px;"></div>

  </body>
</html>
